div#banner
{
  background-color: transparent;
  padding: 1em;
}

h1
{
  font-weight: normal;
  border-bottom: solid thin #800;
}

body
{
  margin: 0px;
  color: #f80;
  background-color: #300;
  background-image: url(/fretsonfire/media/background.png);
  background-repeat: repeat-x;
}

a
{
  color: #f40;
  text-decoration: none;
}

a img
{
  border: none;
}

a:hover
{
  color: #fa0;
  text-decoration: underline;
}

a:visited {
  color: #b00;
}

a:visited:hover {
  color: #fa0;
}

div#content,div#header
{
  margin: 1em 3em 1em 3em;
}

div.text
{
  width: 66%;
}

div#toolbox
{
  margin: 1em 3em 1em 3em;
}

.emphasis
{
  font-weight: bold;
}

img.picture
{
  display: block;
  border: solid black 5px;
  margin: 3em;
}

/*
 *  Front page
 */

div#topScores,div#topMedals,div#topPlayers,div#topSongs,div#statistics,div#search
{
  background-image: url(/fretsonfire/media/pane.png);
  background-repeat: no-repeat;
  width: 256px;
  height: 36em;
  padding-right: 2em;
  padding-left: 1em;
  float: left;
}

div#topScores ol,div#topPlayers ol,div#topSongs ol,div#statistics ol
{
  padding-left: 2em;
}

div#topScores h1,div#topMedals h1,div#topPlayers h1,div#topSongs h1,div#statistics h1,div#search h1
{
  font-size: 1.5em;
}

div#topMedals table
{
  border-collapse: collapse;
}

div#topMedals td
{
  padding: 0em;
}

div#topMedals table td.ordinal
{
  text-align: right;
}

div#topMedals table td.player
{
  padding-left: .5em;
}

div#topMedals table td.amount
{
  font-weight: bold;
}

div#topMedals table td.amount img
{
  padding-right: 0em;
  padding-left: .1em;
}


/*
 * Player page
 */

div#medalList,div#totalScore,div#playedGames
{
  float: left;
  padding-left: 1em;  
  padding-right: 3em;
  padding-bottom: 2em;
  font-weight: bold;
  background-image: url(/fretsonfire/media/pane-small.png);
  background-repeat: no-repeat;
  width: 256px;
}

div#medalList h2,div#totalScore h2,div#playedGames h2
{
  margin-bottom: .5em;
  border-bottom: solid thin #800;
}

div#totalScore span
{
  font-size: 2.5em;
}

div#playedGames span
{
  font-size: 2.5em;
}

div#medalList ul
{
  padding: 0em;
  margin: 0em;
}

div#medalList li
{
  display: inline;
  font-size: 2.5em;
  padding-right: .5em;
}

div#medalList img
{
  padding-right: .2em;
}

div#songList
{
  clear: left;
}

div.pane
{
  clear: left;
  background-image: url(/fretsonfire/media/pane-wide.png);
  background-repeat: no-repeat;
  width: 620px;
  padding-right: 2em;
  padding-left: 1em;
  padding-top: .1em;
  margin-top: 1em;
  margin-bottom: 1em;
}

div.pane h2
{
  border-bottom: solid thin #800;
}

/*
 * Song page
 */

img.song_label
{
  float: right;
}

span.date
{
  color: #888;
}

tr.odd
{
  background-color: #400;
}

table.scores
{
  width: 100%;
  padding: 0;
  border-collapse: collapse;
}

table.scores td
{
  padding-left: 1em;
  padding-right: 1em;
}

table.scores td.ordinal
{
  padding-right: 0;
}

table.scores td.player
{
  width: 33%;
  padding-left: 0em;
}

table.scores td.score
{
  font-weight: bold;
  width: 20%;
}

table.scores td.score img
{
  float: right;
}

div.pane
{
}

/*
 *  Object lists
 */

ol#pages li
{
  display: inline;
}

ol#pages li.current
{
  font-weight: bold;
  display: inline;
  background-color: #400;
  padding: 0em .5em 0em .5em;
}

/**
 *  Forms
 */

input
{
  background-color: #000;
  border: solid thin #800;
  color: #f40;
}

input.submit
{
  background-color: #600;
  border-left: solid 1px #f40;
  border-top: solid 1px #f40;
  color: #f40;
}
