{% extends "base.html" %}
{% load humanize %}

{% block title %}Charts{% endblock %}

{% block content %}

<div id="topScores">
  <h1>Top scores</h1>
  <ol>
  {% for player in topScores %}
    <li><a href="players/{{ player.name|urlencode }}/">{{ player.name }}</a> ({{ player.score|intcomma  }} point{{ player.score|pluralize }}) </li>
  {% endfor %}
  </ol>
</div>

<div id="topMedals">
  <h1>Most medals earned</h1>
  <table>
  {% for player in topMedals %}
    <tr>
      <td class="ordinal">{{ forloop.counter }}.</td>
      <td class="player"><a href="players/{{ player.name|urlencode }}/">{{ player.name }}</a></td>
      <td class="amount"><img src="/fretsonfire/media/gold-small.png"   alt="Gold:"/>{{ player.gold }}</td>
      <td class="amount"><img src="/fretsonfire/media/silver-small.png" alt="Silver:"/>{{ player.silver }}</td>
      <td class="amount"><img src="/fretsonfire/media/bronze-small.png" alt="Bronze:"/>{{ player.bronze }}</td>
    </tr>
  {% endfor %}
  </table>
</div>

<div id="topPlayers">
  <h1>Most active players</h1>
  <ol>
  {% for player in topPlayers %}
    <li><a href="players/{{ player.name|urlencode }}/">{{ player.name }}</a> ({{ player.count|intcomma  }} game{{ player.count|pluralize }}) </li>
  {% endfor %}
  </ol>
</div>

<div id="topSongs">
  <h1>Top songs</h1>
  <ol>
  {% for song in topSongs %}
      {% if song.verified %}
        <li><a href="songs/{{ song.name|urlencode }}/">{{ song.title }}</a> ({{ song.score_set.count|intcomma  }} play{{ song.score_set.count|pluralize }}) </li>
      {% endif %}
  {% endfor %}
  </ol>
</div>

<div id="statistics">
  <h1>Statistics</h1>
  <ul>
    <li>{{ playCount|intcomma }} game{{ playCount|pluralize }} played.</li>
    <li>{{ playerCount|intcomma }} player{{ playerCount|pluralize }}.</li>
    <li>{{ songCount|intcomma }} song{{ songCount|pluralize }} submitted.</li>
    <li>{{ verifiedSongCount|intcomma }} song{{ verifiedSongCount|pluralize }} verified.</li>
  </ul>

  <h1>Recent performances</h1>
  <ul>
    {% for score in recentScores %}
      <li>
        <span class="emphasis">{{ score.score|intcomma}}</span> points on
        <a href="songs/{{ score.songName|urlencode }}/">{{ score.songTitle }}</a> by
        <a href="players/{{ score.playerName|urlencode }}/">{{ score.playerName }}</a>
      </li>
    {% endfor %}
  </ul>
</div>

<div id="search">
  <h1>Search for song</h1>
  <form action="songs" method="get">
    <input type="text" name="query" id="query"/>
    <input class="submit" type="submit" value="Search"/>
  </form>
  <p>(<a href="songs/">show all songs</a>)</p>

  <h1>Search for player</h1>
  <form action="players" method="get">
    <input type="text" name="query" id="query"/>
    <input class="submit" type="submit" value="Search"/>
  </form>
  <p>(<a href="players/">show all players</a>)</p>

  <h1>Documentation</h1>
  <ul>
    <li><a href="documentation/">How to play</a></li>
    <li><a href="http://fretsonfire.sourceforge.net">Frets On Fire</a></li>
  </ul>
</div>

{% endblock %}
