{% extends "base.html" %}

{% block title %}Documentation{% endblock %}

{% block content %}

<div class="text">

<h1>How to play</h1>

<p>Getting your name on the World Charts is easy:</p>

<h2>Step 1:</h2>
<p>Download <a href="http://fretsonfire.sourceforge.net/">Frets On Fire</a>.</p>

<h2>Step 2:</h2>
<p>Tell the game to send your highscores to the charts from the settings menu:
<img src="/fretsonfire/media/upload-setting.png" alt="Screenshot of upload setting" class="picture"/>
<p>

<h2>Step 3:</h2>
<p>
Shred your way to the top!
</p>

<h1>How do I add my own song</h1>

<p>
  When somebody plays a new song, it is automatically added to the system, but it
  will only become visible when one of the administrators verifies the song by hand. It might
  take some time before your song gets verified. If you think it's taking too long, send
  us a note.
</p>

<h1>And what about these medal things?</h1>

<p>
  For the claiming the first place in the charts for any song, you get a
  shiny gold medal (<img src="/fretsonfire/media/gold-small.png" alt="">).
  A second place gives you almost as shiny silver (<img src="/fretsonfire/media/silver-small.png" alt="">),
  and the for the third position you are awarded a bronze medal (<img src="/fretsonfire/media/bronze-small.png" alt="">).
</p>

<p>
  Beware though: If someone out-shreds your top score, your medal will go along with it!
</p>

</div>

{% endblock %}
