{% extends "searchable.html" %}

{% block title %}Players{% endblock %}
{% block header %}<h1>Players</h1>{% endblock %}

{% block content %}

<ul>
{% for player in objectList %}
    {% if not song.banned %}
      <li><a href="{{ player.name|urlencode }}/">{{ player.name|escape }}</a></li>
    {% endif %}
{% endfor %}
</ul>

{% endblock %}
