{% extends "base.html" %}
{% load humanize %}

{% block title %}Scores for player {{ player.name }}{% endblock %}

{% block content %}

<h1>
  Scores for player <span class="emphasis">{{ player.name }}</span>
</h1>

<div id="totalScore">
  <h2>Total score</h2>

  <span>{{ player.totalScore|intcomma }}</span>
</div>

<div id="playedGames">
  <h2>Played games</h2>

  <span>{{ player.score_set.all|length|intcomma }}</span>
</div>

<div id="medalList">
  <h2>Earned medals</h2>

  <ul>
      <li><img src="/fretsonfire/media/gold.png"   alt="Gold"/>{{ player.goldMedals }}</li>
      <li><img src="/fretsonfire/media/silver.png" alt="Silver"/>{{ player.silverMedals }}</li>
      <li><img src="/fretsonfire/media/bronze.png" alt="Bronze"/>{{ player.bronzeMedals }}</li>
  </ul>
</div>

<div id="songList">
  <h2>Played songs</h2>
  {% regroup player.score_set.all|dictsort:"song.name" by song as songScores %}

  <ul>
    {% for scores in songScores %}
      {% if scores.grouper.verified %}
        <li>
          <a href="#{{ scores.grouper.name }}">{{ scores.grouper.title }}</a>
        </li>
      {% endif %}
    {% endfor %}
  </ul>
</div>

{% for scores in songScores %}
  {% if scores.grouper.verified %}
    <div class="pane">
      <h2><a name="{{ scores.grouper.name }}" href="../../songs/{{ scores.grouper.name|urlencode }}/">{{ scores.grouper.title }}</a></h2>
      {% regroup scores.list|dictsort:"difficulty.identifier" by difficulty as scoresByDifficulty %}
      {% for scores in scoresByDifficulty %}
        <div class="scoreList">
          <h3>{{ scores.grouper.name }}</h3>
          <table class="scores">
            {% for score in scores.list|dictsortreversed:"score" %}
              <tr class="{% cycle even,odd %}">
                <td class="ordinal">{{ score.ordinal }}.</td>
                <td class="score">
                  {% ifequal forloop.counter 1 %}
                    {% ifequal score.ordinal 1 %}
                      <img src="/fretsonfire/media/gold.png" alt="*"/>
                    {% endifequal %}
                    {% ifequal score.ordinal 2 %}
                      <img src="/fretsonfire/media/silver.png" alt="*"/>
                    {% endifequal %}
                    {% ifequal score.ordinal 3 %}
                      <img src="/fretsonfire/media/bronze.png" alt="*"/>
                    {% endifequal %}
                  {% endifequal %}
                  {{ score.score|intcomma }}
                </td>
                <td class="date">{{ score.date|date:"G:i, jS o\f F, Y" }}</td>
                <td class="stars">
                  {% for star in score.starList %}
                    {% if star %}
                      <img src="/fretsonfire/media/star2.png" width="24" height="23"/>
                    {% else %}
                      <img src="/fretsonfire/media/star1.png" width="24" height="23"/>
                    {% endif %}
                  {% endfor %}
                </td>
              </tr>
            {% endfor %}
          </table>
        </div>
      {% endfor %}
    </div>
  {% endif %}
{% endfor %}

{% endblock %}
