{% extends "base.html" %}
{% load humanize %}

{% block title %}{{ song.title|escape }} by {{ song.artist|escape }}{% endblock %}

{% block content %}

<img class="song_label" src="{{ song.get_label_url }}"/>

<h1>
  <span class="emphasis">{{ song.title|escape }}</span> by <span class="emphasis">{{ song.artist|escape }}</span>
</h1>

<p>
  This song has been played {{ song.score_set.count|intcomma }} time{{ song.score_set.count|pluralize }}.
</p>

{% regroup scoreList|dictsort:"difficulty.identifier" by difficulty as scoresByDifficulty %}

{% for scores in scoresByDifficulty %}
  <div class="pane">
    <h2>{{ scores.grouper.name|escape }}</h2>
    <table class="scores">
    {% for score in scores.list|dictsortreversed:"score" %}
      <tr class="{% cycle even,odd %}">
        <!-- {{ score.date|date:"G:i, jS o\f F, Y" }} -->
        <td class="ordinal">{{ forloop.counter }}.</td>
        <td class="player"><a href="../../players/{{ score.player.name|urlencode }}/">{{ score.player.name|escape }}</a></td>
        <td class="score">
          {% ifequal forloop.counter 1 %}
            <img src="/fretsonfire/media/gold.png" alt="*"/>
          {% endifequal %}
          {% ifequal forloop.counter 2 %}
            <img src="/fretsonfire/media/silver.png" alt="*"/>
          {% endifequal %}
          {% ifequal forloop.counter 3 %}
            <img src="/fretsonfire/media/bronze.png" alt="*"/>
          {% endifequal %}
          {{ score.score|intcomma }}
        </td>
        <td class="stars">
        {% for star in score.starList %}
          {% if star %}
            <img src="/fretsonfire/media/star2.png" width="24" height="23"/>
          {% else %}
            <img src="/fretsonfire/media/star1.png" width="24" height="23"/>
          {% endif %}
        {% endfor %}
        </td>
    {% endfor %}
    </table>
  </div>
{% endfor %}

{% endblock %}
