{% extends "searchable.html" %}

{% block title %}Songs{% endblock %}
{% block header %}<h1>Songs</h1>{% endblock %}

{% block toolbox %}
<form method="get">
  <input type="text" name="query" id="query" value="{{ query }}"/>
  <input class="submit" type="submit" value="Search"/>
</form>
{% endblock %}

{% block content %}

<ul>
{% for song in objectList %}
    {% if song.verified %}
      <li><a href="{{ song.name|urlencode }}/">{{ song.title|escape }}</a></li>
    {% endif %}
{% endfor %}
</ul>

{% endblock %}
