{% extends "base.html" %}

{% block title %}Top Unverified Songs{% endblock %}
{% block header %}<h1>Top Unverified Songs</h1>{% endblock %}

{% block content %}

<ol>
{% for song in songs %}
  <li>{{ song.name }} ({{ song.score_set.all|length }} plays) </a></li>
{% endfor %}
</ol>

{% endblock %}
