{% extends "base.html" %}

{% block title %}Page not found (404){% endblock %}
{% block header %}<h1>Page not found (404)</h1>{% endblock %}

{% block content %}

<p>
The page you were looking for was not found.
</p>

{% endblock %}
