{% extends "base.html" %}

{% block title %}Smoke escaped from server (500){% endblock %}
{% block header %}<h1>Smoke escaped from server (500)</h1>{% endblock %}

{% block content %}

<p>
  The World Charts are experiencing some technical difficulties at the moment. Check back soon. Now where did I put that spare fuse...
</p>

{% endblock %}
