<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <link rel="stylesheet" href="/fretsonfire/media/base.css" />
    <title>{% block title %}{% endblock %}</title>
</head>

<body>
    <div id="sidebar">
        {% block sidebar %}
        {% endblock %}
    </div>

    <div id="banner">
      <a href="/fretsonfire/charts"><img src="/fretsonfire/media/logo.png" alt="World Charts"/></a>
    </div>
    
    <div id="header">
      {% block header %}
      {% endblock %}
    </div>

    <div id="toolbox">
        {% block toolbox %}
        {% endblock %}
      <div id="result">
          {% block result %}
          {% endblock %}
      </div>
    </div>

    <div id="content">
        {% block content %}
        {% endblock %}

        {% if hasMultiplePages %}
          <ol id="pages">
            {% if hasPreviousPage %}
              &lt; <a href="?page={{ previousPage }}&query={{ query }}">Previous</a>
            {% endif %}
            {% for page in pages %}
              {% ifequal page firstThreshold %}
                <li>...</li>
              {% endifequal %}
              {% ifequal page secondThreshold %}
                <li>...</li>
              {% endifequal %}
              {% ifequal currentPage page %}
                <li class="current">{{ page }}</li>
              {% else %}
                <li><a href="?page={{ page }}&query={{ query }}">{{ page }}</a></li>
              {% endifequal %}
            {% endfor %}
            {% if hasNextPage %}
              <a href="?page={{ nextPage }}&query={{ query }}">Next</a> &gt;
            {% endif %}
          </ol>
        {% endif %}
    </div>
</body>
</html>

