{% extends "base.html" %}

{% block toolbox %}
<form method="get">
  <input type="text" name="query" id="query" value="{{ query }}"/>
  <input class="submit" type="submit" value="Search"/>
</form>
{% endblock %}

{% block result %}
  {% if query %}
    {% if objectList %}
      <p>Results for <span class="emphasis">{{ query|escape }}</span>:</p>
    {% else %}
      <p>No matches found for <span class="emphasis">{{ query|escape }}</span>.</p>
    {% endif %}
  {% endif %}
{% endblock %}
